.footer{
    text-align: center;
    font-size: 30px;
    /* font-style: oblique; */
    font-variant: small-caps;
    color: grey;
    margin-top: 1rem;
    padding: 1rem;
    background-color: white ;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }